@keyframes card-flipping {
  0% {
      transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

@keyframes card-background-transformation {
  0%, 50% {
    background-image: url(../../public/images/team-card/team-card.png);
  }
  100% {
    background-image: url(../../public/images/team-card/gold-team-card.png);
  }
}
.splide__slide {
  transition: transform 0.4s linear;
}
.splide__slide.is-active {
  transform: scale(1.1);
}

.splide__slide.is-active #teamCardImage {
  animation: card-background-transformation 0.5s forwards;
}

.splide__slide.is-active #teamCard {
  animation: card-flipping 0.5s forwards linear;
}