.formPopUp {
  width: 43vw;
  height: 46vw;
  background-color: var(--color-white);
  padding: 3.1vw 3.5vw;
  box-sizing: border-box;
  font-family: var(--font-header);
}
@media screen and (max-width: 480px) {
  .formPopUp {
    width: 100vw;
    height: 90vw;
    padding: 4.5% 5%;
    font-size: 4.5vw;
  }
}