.form-section {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.form-section__button-container {
  display: none;
  align-items: center;
  flex-direction: column;
}

.form-section__title {
  font-size: 5vw;
  font-family: var(--font-header);
  color: var(--color-white);
  text-align: center;
  margin-bottom: 7vw;
}

@media screen and (max-width: 480px) {
  .form-section {
    width: 100%;
    justify-content: center;
  }
  .form-section__button-container {
    display: flex;
  }
}