.header {
  width: 100%;
  height: 5vw;
  background-color: rgb(24, 23, 23);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 88%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.logo {
  width: max-content;
}

.logoLink {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logoImage {
  width: 2.5vw;
  height: 2.5vw;
}

.name {
  font-size: 2vw;
  color: var(--color-white);
  font-family: var(--font-main);
}

.nav {
  font-family: var(--font-main);
  font-size: var(--font-size-p);
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.burger {
  background-image: url(../../../public/images/misc/burger.svg);
  background-size: cover;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 6vw;
  height: 6vw;
  padding: 0;
  display: none;
  transition: background 0.15s linear;
}

.burgerOpen {
  background-image: url(../../../public/images/misc/close-icon.svg);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: flex;
}

.listElement {
  display: flex;
  justify-content: center;
}

.link {
  color: var(--color-white);
  text-decoration: none;
  transition: 0.1s color linear;
}

.link:hover {
  color: blue;
}


@media screen and (max-width: 480px) {

  .header {
    height: 11vw;
  }
  .content {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }

  .name {
    font-size: 3vw;
  }

  .logoImage {
    width: 6vw;
    height: 6vw;
  }

  .burger {
    display: block;
  }

  .list {
    position: absolute;
    flex-direction: column;
    align-self: flex-end;
    top: 100%;
    background-color: rgba(24, 23, 23, 0.8);
    width: 30vw;
    right: -100%;
    padding-right: 100%;
    height: 0;
    transition: all 0.3s linear;
    overflow: hidden;
    justify-content: space-evenly;
  }

  .listOpen {
    height: 50vw;
  }

  .listElement {
    justify-content: flex-end;
  }

  .nav {
    justify-self: end;
  }
}