.badWaysCard {
  background-image: url(../../../../../public/images/bad-ways-card/card.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 33.5vw;
  font-size: 1.3vw;
  height: 55.3vw;
  position: relative;
  transition: background-image 0.35s linear;
  background-color: rgba(0, 0, 0, 0);
}

.badWaysCard:hover {
  background-image: url(../../../../../public/images/bad-ways-card/card-light.png);
}

.content {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content) 1fr;

  align-items: center;
  color: var(--color-white);
  font-family: var(--font-main);
  height: 100%;
}

.title {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 600;
  width: 65%;
  text-align: center;
  margin: 14% 0 4.5% 0;
}

.icon {
  width: 28%;
  margin-bottom: 5%;
}

.consList {
  width: 68.5%;
  list-style: none;
  padding: 0;
}

.con {
  margin-bottom: 6.5%;
}

.con:last-child {
  margin-bottom: 0;
 }

.conText {
  font-weight: 600;
  margin-bottom: 4.8%;
  font-size: 0.8em;
  display: flex;
}

.conText::before {
  content: '';
  min-height: 10px;
  min-width: 10px;
  background-image: url(../../../../../public/images/misc/list-dot.png);
  align-self: flex-start;
  margin: 1.7% 1.9% 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.conSubtextList {
  list-style: none;
  margin-left: 4.3%;
  padding: 0;
}


.conSubtext {
  font-size: 0.73em;
}

.total {
  text-align: center;
  height: 30%;
  width: 62%;
  font-size: 0.9em;
  font-weight: 600;
}

@media screen and (max-width: 1300px) {
  .conText::before {
    min-height: 6px;
    min-width: 6px;
  }
}

@media screen and (max-width: 850px) {
  .conText::before {
    min-height: 4px;
    min-width: 4px;
  }
}

@media screen and (max-width: 480px) {
  .badWaysCard {
    width: 99vw;
    font-size: 3.5vw;
    height: 165vw;
    margin: -4.7vw;
  }

  .conText::before {
    min-height: 6px;
    min-width: 6px;
  }
}
