.digitalFuture {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30vw;
}

.content {
  width: 72%;
  display: flex;
  flex-direction: column;
}

.listContainer {
  width: 60%;
  display: flex;
}

.about {
  margin-bottom: 3vw;
  color: var(--color-ocean-blue);
}

.title {
  font-family: var(--font-main);
  margin-bottom: 1vw;
  font-size: var(--font-size-v2-h1);
}

.subtitle {
  font-family: var(--font-header);
  font-size: var(--font-size-v2-h1);
}