.slider{
  width: 100%;
  height: max-content;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  position: relative;
}

.list {
  list-style: none;
  margin: 0;
  display: grid;
  gap: 10vw;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 3vw 0;
  box-sizing: border-box;
  position: relative;
}

.elementIsActive {
  transform: scale(1.2);
}

.listElement {
  transition: transform 0.2s linear;
}


@media screen and (max-width: 480px) {
  .list {
    padding: 5vw 0;
  }
}