.pageContent {
  background-image: url(../../public/images/backgrounds/academy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 12vw 0 30vw;
}

@media screen and (max-width: 480px) {
  .pageContent {
    /* background-image: url(../../public/images/backgrounds/index480.jpg); */
  }
  
  .main {
    /* width: 90%; */
  }
}
