.forWhom {
  padding-bottom: 10.4167vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86.1%;
}

.title {
  font-family: var(--font-header);
  font-size: var(--font-size-h2);
  color: var(--color-white);
  margin-bottom: 4.84375vw;
}

.list {
  list-style: none;
  margin: 0 0 4.84375vw 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 8vw;
}

.listElement {
  width: 100%;
}

.button {
  width: 42.3%;
}

@media screen and (max-width: 480px) {
  .for-whom {
    width: 100%;
    padding-bottom: 13vw;
  }

  .title {
    font-family: var(--font-header);
    font-size: var(--font-size-h2);
    color: var(--color-white);
    margin-bottom: 5vw;
  }

  .list {
    display: grid;
    gap: 6.4vw;
    justify-content: center;
    margin: 0 0 7vw 0;
    grid-template-columns: 1fr;
  }

  .listElement {
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .button {
    width: 100%;
  }
}