.footer {
  width: 100%;
  background-color: rgb(24, 23, 23);
  height: 8vw;
  display: flex;
  justify-content: center;
  align-self: end;
}

.content {
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  color: var(--color-white);
  height: 100%;
  font-size: 1.1vw;
  font-family: var(--font-header);
}

.author {
  
}

.number {
  justify-self: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: end;
}

.listElement {
  height: 2vw;
  width: 2vw;
}

.link {

}

.linkIcon {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .footer {
    height: 45vw;
  }

  .content {
    grid-template-columns: 1fr;
    font-size: 3vw;
    width: 100%;
    align-content: center;
    gap: 4vw;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-self: center;
  }
  .author {
    justify-self: center;
  }
  .listElement {
    width: 5vw;
    height: 5vw;
  }
}