.cases {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7.4vw;
}

.title {
  color: var(--color-dark-turquoise);
  font-size: var(--font-size-h2);
  font-family: var(--font-header);
  margin-bottom: 2.7vw;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listElement {

}

@media screen and (max-width: 480px) {
  .cases {
    width: 100%;
    padding-bottom: 13vw;
  }
  .list {
    display: grid;
    gap: 4vw;
    justify-content: center;
  }
  .title {
    margin-bottom: 4vw;
  }
}