html {
  font-size: 16px;
}

body::after {
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content: 
    url(../public/images/bad-ways-card/card-light.png)
    url(../public/images/advantages-card/card-light.png)
    url(../public/images/form-frame/frame-light.png)
    url(../public/images/gif/gif1.gif)
    url(../public/images/gif/gif2.gif)
    url(../public/images/gif/gif3.gif)
    url(../public/images/gif/gif4.gif)
    url(../public/images/gif/gif5.gif)
    url(../public/images/gif/gif6.gif)
    url(../public/images/gif/gif7.gif)
    url(../public/images/gif/gif8.gif)
}

:root {
  --color-white: #ffffff;
  --color-dark-turquoise: #003333;
  --color-pink: #cc0066;
  --color-faded-pink: #ff9999;
  --color-error: #f25830;
  --font-header: 'PressStart2P';
  --font-main: 'RobotoMono';
  --font-size-h1: 4.938vw;;
  --font-size-h2: 2.2vw;
  --font-size-h3: 1.4vw;
  --font-size-p: 1.2vw;
  --font-size-p2: 1.2vw
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

h1, h2, h3, p {
  margin: 0;
}

@media screen and (max-width: 480px) {
  :root {
    --font-size-h1: 11.4vw;;
    --font-size-h2: 4.4vw;
    --font-size-h3: 3vw;
    --font-size-p: 4vw;
    --font-size-p2: 3.3vw
  }
}




@keyframes card-flipping {
  0% {
      transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

@keyframes card-background-transformation {
  0%, 50% {
    background-image: url(../public/images/team-card/team-card.png);
  }
  100% {
    background-image: url(../public/images/team-card/gold-team-card.png);
    box-shadow: 0px 0px 59px 33px rgba(255, 215, 0, 0.2) inset;
    color: gold
  }
}


.elementIsActive {
  transform: scale(1.2);
}

#teamMemberCard.elementIsActive #teamCardImage {
  animation: card-background-transformation 0.5s forwards;
}

#teamMemberCard.elementIsActive #teamCard {
  animation: card-flipping 0.5s forwards linear;
}