.formSection {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.sectionButtonContainer {
  display: none;
  align-items: center;
  flex-direction: column;
}

.sectionTitle {
  font-size: 5vw;
  font-family: var(--font-header);
  color: var(--color-white);
  text-align: center;
  margin-bottom: 7vw;
}

.form {
  background-image: url(../../../public/images/form-frame/frame.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 48.6vw;
  height: 43.74vw;
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  position: relative;
  transition: background-image 0.35s linear;
}

.form:hover {
  background-image: url(../../../public/images/form-frame/frame-light.png);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1.5fr 1fr;
  align-items: center;
  width: 75%;
  height: 95%;
  z-index: 10;
}

.title {
  font-size: var(--font-size-h2);
  font-family: var(--font-header);
  color: var(--color-white);
}


.inputsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.input {
  width: 90%;
  font-family: var(--font-header);
  outline: none;
  font-size: var(--font-size-p);
  padding: 3% 5%;
  transition: transform 0.4s all;
  border: none;
}

.button:hover {
  transform: none;
}

@media screen and (max-width: 480px) {
  .formSection {
    width: 100%;
    justify-content: center;
  }
  .sectionButtonContainer {
    display: flex;
  }

  .form {
    display: none;
  }
}